@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body {
  font-family: Arial, Helvetica, sans-serif;
  font: 15px;
  line-height: 1.5;
  background-color: #ffffff;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/*header*/
header{
  background: #35424a;
  color: #ffffff;
  padding-top:30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}


header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #e8491d;
  font-weight: bold;
}
header a:hover{
  color: #cccccc;
  font-weight: bold;
}

#main {
  text-align: center;
  padding: 20px;
}


/* sales table*/
 table {  
  color: #333; 
  font-family: Helvetica, Arial, sans-serif; 
  
  border-collapse: 
  collapse; border-spacing: 0; 
  float: left;
  width: 100%;
}

td, th { border: 1px solid #CCC; height: 30px; } 

th {  
  background:#e8491d; 
  font-weight: bold; 
  
}

td {  
  background: rgb(216, 207, 207); 
  text-align: center; 
}


input[type=submit] {
  width: 6em;  height: 3em;
  padding:3px 3px; 
  background:#ccc; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 10px;
  border-radius: 5px; 
  font-family: sans-serif; 
  font-size: 20px;
}
input[type=text], [type=number] {
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;

}
